.GameTile{
    height: 62px;
    width: 100%;
    border: 2px solid lightgray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}


.GameTile.correct{
    border: 2px solid #6aaa64;
    background-color: #6aaa64;
    color: white;
    animation: correct 600ms ease-in-out
}

    @keyframes correct {
        0%{
            transform: scaleY(1);
            border: 2px solid lightgray;
            background-color: white;
            color: black;
        }
        50%{
            transform: scaleY(0);
            border: 2px solid lightgray;
            background-color: white;
            color: black;
            
        }
        51%{
            border: 2px solid #6aaa64;
            background-color: #6aaa64;
            color: white;
        }
        100%{
            transform: scaleY(1);
            background-color: #6aaa64;
            color: white;
        }
    }

    .GameTile.correct:nth-child(1){
        transition: all 600ms ease-in-out;
    }
    .GameTile.correct:nth-child(2){
        transition: all 600ms ease-in-out;
        transition-delay: 300ms;
        animation-delay: 300ms;
    }
    .GameTile.correct:nth-child(3){
        transition: all 600ms ease-in-out;
        transition-delay: 600ms;
        animation-delay: 600ms;
    }
    .GameTile.correct:nth-child(4){
        transition: all 600ms ease-in-out;
        transition-delay: 900ms;
        animation-delay: 900ms;
    }
    .GameTile.correct:nth-child(5){
        transition: all 600ms ease-in-out;
        transition-delay: 1200ms;
        animation-delay: 1200ms;
    }




.GameTile.present{
    border: 2px solid #c9b458;
    background-color: #c9b458;
    color: white;
    animation: present 600ms;
}

    @keyframes present {
        0%{
            transform: scaleY(1);
            border: 2px solid lightgray;
            background-color: white;
            color: black;
        }
        50%{
            transform: scaleY(0);
            border: 2px solid lightgray;
            background-color: white;
            color: black;
            
        }
        51%{
            border: 2px solid #c9b458;
        background-color: #c9b458;
            color: white;
        }
        100%{
            transform: scaleY(1);
            border: 2px solid #c9b458;
            background-color: #c9b458;
            color: white;
        }
    }

    .GameTile.present:nth-child(1){
        transition: all 600ms ease-in-out;
    }
    .GameTile.present:nth-child(2){
        transition: all 600ms ease-in-out;
        transition-delay: 300ms;
        animation-delay: 300ms;
    }
    .GameTile.present:nth-child(3){
        transition: all 600ms ease-in-out;
        transition-delay: 600ms;
        animation-delay: 600ms;
    }
    .GameTile.present:nth-child(4){
        transition: all 600ms ease-in-out;
        transition-delay: 900ms;
        animation-delay: 900ms;
    }
    .GameTile.present:nth-child(5){
        transition: all 600ms ease-in-out;
        transition-delay: 1200ms;
        animation-delay: 1200ms;
    }


.GameTile.absent{
    border: 2px solid #787c7e;
    background-color: #787c7e;
    color: white;
    animation: absent 600ms;
}
    @keyframes absent {
        0%{
            transform: scaleY(1);
            border: 2px solid lightgray;
            background-color: white;
            color: black;
        }
        50%{
            transform: scaleY(0);
            border: 2px solid lightgray;
            background-color: white;
            color: black;
            
        }
        51%{
            border: 2px solid #787c7e;
            background-color: #787c7e;
            color: white;
        }
        100%{
            transform: scaleY(1);
            border: 2px solid #787c7e;
            background-color: #787c7e;
            color: white;
        }
    }

    .GameTile.absent:nth-child(1){
        transition: all 600ms ease-in-out;
    }
    .GameTile.absent:nth-child(2){
        transition: all 600ms ease-in-out;
        transition-delay: 300ms;
        animation-delay: 300ms;
    }
    .GameTile.absent:nth-child(3){
        transition: all 600ms ease-in-out;
        transition-delay: 600ms;
        animation-delay: 600ms;
    }
    .GameTile.absent:nth-child(4){
        transition: all 600ms ease-in-out;
        transition-delay: 900ms;
        animation-delay: 900ms;
    }
    .GameTile.absent:nth-child(5){
        transition: all 600ms ease-in-out;
        transition-delay: 1200ms;
        animation-delay: 1200ms;
    }