.App{
    font-family: 'Rubik', sans-serif;
}
div a{
    text-decoration: none;
    color: black;
    margin: 0 1rem;
}

div a.active{
    background-color: #d3d6da;
    border-radius: 5px;
    transition: background-color 500ms;
}


